---
---

@use "main{%- if jekyll.environment == " production " -%}.bundle{%- endif -%}";

html[data-mode="dark"] {
  --link-color: rgb(64, 163, 255);
  --toc-highlight: rgb(64, 163, 255);
  --sidebar-btn-color: rgb(64, 163, 255 / 95%);
  /*--card-hover-bg: rgb(87, 242, 170);*/
  --card-hover-bg: rgb(64, 163, 255);
}
