---
---
@use 'main{%- if jekyll.environment == 'production' -%}.bundle{%- endif -%}';

html[data-mode="dark"] {
  --link-color: rgb(64, 163, 255);
  --toc-highlight: rgb(64, 163, 255);
  --sidebar-btn-color: rgb(64, 163, 255 / 95%);
  /*--card-hover-bg: rgb(87, 242, 170);*/
  --card-hover-bg: rgb(64, 163, 255);
}

a.popup:has(.img-wrap-responsive) {
  /* --- Override Chirpy's default centering --- */
  position: static !important;
  left: auto !important;
  transform: none !important;

  /* --- Mobile Layout --- */
  display: block;
  width: 100%;
  margin-bottom: 1rem;

  /* --- Desktop Layout (Left Aligned) --- */
  @media (min-width: 768px) {
    float: left;
    width: 40%;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
